body {
    font-family: "Bitter", serif;
}

.font-dosis{
    font-family: "Dosis", sans-serif !important;
}

/* colori */
:root{
    --det-color:rgb(27,92,67);
    --sec-color: rgb(130,145,69);
    --acc-color:rgb(60,110,128);
}
/* testo */
.tx-1 {
    color: var(--det-color);
}

.tx-2{
    color: var(--det-color);
}

.tx-acc{
    color: var(--sec-color);
}


/* BGC*/

.bg-1 {
    background-color: var(--det-color);
}

.bg-2{
    background-color:  var(--sec-color);
}

.bg-acc{
    background-color:  var(--acc-color);
}

/* border*/

.borde-1{
    border-bottom: 4px solid var(--det-color) !important;
}

.borde-2{
    border-bottom: 4px solid var(--sec-color) !important;
}

.borde-acc{
    border-bottom: 4px solid var(--acc-color) !important;
}

.navbar-toggler:focus {  
    box-shadow:none !important ;
}

.design-underline{
    position: relative;
}

.design-underline::after{
    position: absolute;
    content: '' ;
    bottom: -10%;
    left: 25%;
    right: 25%;
    width: 50%;
    height: 10%;
    background-color: var(--sec-color);
}